Assets/TextMesh[[:space:]]Pro/Fonts/Isego[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Fonts/Isego[[:space:]]SDF.asset.meta filter=lfs diff=lfs merge=lfs -text
